{:deps
 {:aliases [:shadow]}

 :dev-http {8018 "resources/public"}
 :builds
 {:main {:target :browser
         :output-dir "resources/public/js/main"
         :asset-path "/js/main"
         :modules {:main {:init-fn hello-world.core/init}}}}}
